
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    background-color: #183c4b;
} 
body {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #ffffff;
}
#newGameBtn, #resetBtn {
    padding: 10px 10px;
    font-size: 20px;
    font-style: bold;
    margin: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: rgb(12, 10, 10);
    border-radius: 5px;
    &:hover {
        background-color: #1c491e;
    }
    transition: background-color 0.3s ease;
}
p {
    font-size: 24px;
    margin-bottom: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.grid button {
    width: 100px;
    height: 100px;
    font-size: 24px;
} 
.grid div {
    width: 30px;
    height: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffd8d8;
    cursor: pointer;
}


