
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    background-color: #183c4b;
    display: flex;
    /* justify-content: center;
    align-items: center; */
} 

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #ffffff;
}
#newGameBtn, #resetBtn {
    padding: 10px 10px;
    font-size: 20px;
    font-style: bold;
    cursor: pointer;
    background-color: #4CAF50;
    color: rgb(12, 10, 10);
    border-radius: 5px;
    &:hover {
        background-color: #266329;
    }
    transition: background-color 0.3s ease;
}
p {
    font-size: 14px;
    margin-bottom: 5px;
}
.button-container {
    margin-bottom: 30px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: 60px repeat(3, 60px) 60px;
  gap: 10px;
}

.display-turn {
    background-color: rgb(216, 179, 135);
    /* grid-column-start: 1;
    grid-column-end: 3; */
}
.square {
    background-color: rgb(254, 255, 168);
    .hover {
        background-color: rgb(253, 220, 220);
    }
}
.scoreboard {
    background-color: rgb(128, 235, 217);
}